<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:fragment="title">User DB Test</title>
</head>
<body>
<div th:fragment="test-script">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/dist/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/test.js}" src="../../static/js/Test.js"></script>

</div>
<div th:fragment="content">
	<h1>user</h1>
	id : <input type="text" id="t1id" th:if="${test} == null"></input>
	<input type="text" id="t1id" th:if="${test} != null" th:value="${test.id}"></input>
	<button type="button" onclick="find1()">검색</button>
	<br>
	phone_v1 :&nbsp;
	<input type="text" id="t1phone" th:if="${test} == null"></input>
	<input type="text" id="t1phone" th:if="${test} != null" th:value="${test.phone}"></input>	
	<br><br>
	
	id <input type="text" id="t2id" />
	<button type="button" onclick="find2()">검색</button>
	<br>
	phone_v2 : <input type="text" id="t2phone" />
</div>
</body>
</html>