<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
    <!--    thymeleaf layout dialect가 contents페이지의 head태그를 layout의 head태그에 자동으로 추가해준다. -->
    <!--    필요 css, script 추가영역 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/paging.js}" src="../../static/js/common/paging.js"></script>
    <script type="text/javascript" th:src="@{/js/mypage/auction.js}" src="../../static/js/mypage/auction.js"></script>
    <script type="text/javascript" th:src="@{/js/mypage/order.js}" src="../../static/js/mypage/order.js"></script>
    <script type="text/javascript" th:src="@{/js/delivery/delivery.js}" src="../../static/js/delivery/delivery.js"></script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<section layout:fragment="content">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <div class="container-section">
        <div>총 <span id="auctionCnt"></span>건</div>
        <div class="div-list-result" id="result"></div>
        <div class="paging" id="paging"></div>

        <!-- detail -->
        <div id="pop-mask-sale-detail" class="pop-mask">
            <div id="pop-sale-detail" class="pop">
                <h2>중고 서적 뷰</h2>
                <input type="hidden" id="viewAuctionNo"/>
                <ul class="pop-style1">
                    <li class="pop-style1-list">
                        <ul class="pop-style2">
                            <li class="pop-style2-list">
                                <img src="" id="viewImage" class="pop-img"/>
                            </li>
                            <li class="pop-style2-list">
                                <ul class="pop-style3">
                                    <li>
                                        제목 <input type="text" id="viewTitle"/>
                                    </li>
                                    <li>
                                        출판사 <input type="text" id="viewPublisher"/>
                                    </li>
                                    <li>
                                        마감기한 <input type="text" id="viewEndDate"/>
                                    </li>
                                    <li>
                                        입찰가 <input type="number" id="viewBidPrice"/>
                                    </li>
                                    <li>
                                        즉시구매가 <input type="number" id="viewImmediPrice"/>
                                    </li>
                                    <li>
                                        장르 <input type="text" id="viewGenreType"/>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="pop-style1-list">
                        정보<br>
                        <textarea id="viewInfo"></textarea>
                    </li>
                    <li class="pop-style1-list" id="deliveryInfo">
                    </li>
                </ul>
                <div class="pop-btn-style" id="buttonResult"></div>
            </div>
        </div>
    </div>
</section>
</body>
</html>