<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
    <!--    thymeleaf layout dialect가 contents페이지의 head태그를 layout의 head태그에 자동으로 추가해준다. -->
    <!--    필요 css, script 추가영역 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/paging.js}" src="../../static/js/common/paging.js"></script>
    <script type="text/javascript" th:src="@{/js/mypage/order.js}" src="../../static/js/mypage/order.js"></script>
    <script type="text/javascript" th:src="@{/js/mypage/review.js}" src="../../static/js/mypage/review.js"></script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body>
<section layout:fragment="content">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <div class="container-section">
        <div class="div-list-head">
            <div class="insert-style">
                <button type="button" class="insert-btn" onClick="listSaleOrder(1)">일반</button>
                <button type="button" class="insert-btn" onClick="listAuctionOrder(1)">경매</button>
            </div>
        </div>

        <div>총&nbsp;<span id="orderCnt"></span>건</div>
        <div class="div-list-result" id="result"></div>
        <div class="paging" id="paging"></div>

        <div id="pop-mask-order-detail" class="pop-mask">
            <div id="pop-order-detail" class="pop">
                <h2>주문 뷰</h2>
                <ul class="pop-style1" style="height:20px;">
                    <li class="pop-style1-list">
                        <ul class="pop-style2">
                            <li class="pop-style2-list" style="text-align:center;">
                                <p class="text-size-17 text-highlight">상품 정보</p>
                            </li>
                            <li class="pop-style2-list" style="text-align:center;">
                                <p class="text-size-17 text-highlight">배송 정보</p>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="pop-style1" id="pop-style1-order">
                    <li class="pop-style1-list">
                        <div id="resultDetail"></div>
                    </li>
                    <li class="pop-style1-list">
                        <ul class="pop-style2">
                            <li class="pop-style2-list">
                                <ul class="pop-style3">
                                    <li>
                                        주문번호 <input type="text" id="viewOrderNo" readonly/>
                                    </li>
                                    <li>
                                        주문정보 <input type="text" id="viewOrderInfo" readonly/>
                                    </li>
                                    <li>
                                        총액 <input type="text" id="viewOrderTotal" readonly/>
                                    </li>
                                    <li>
                                        주문일 <input type="text" id="viewOrderDate" readonly/>
                                    </li>
                                    <li>
                                        주문자 <input type="text" id="viewUserName" readonly/>
                                    </li>
                                    <li>
                                        주문자 주소 <input type="text" id="viewPAddress" readonly/>
                                    </li>
                                    <li>
                                        받는이 <input type="text" id="viewRName" readonly/>
                                    </li>
                                    <li>
                                        받는이 전화번호 <input type="text" id="viewRPhone" readonly/>
                                    </li>
                                    <li>
                                        배송지 주소 <input type="text" id="viewRAddress" readonly/>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="pop-btn-style">
                    <button type="button" class="pop-btn" onClick="closeOrderDetailPopup()">닫기</button>
                </div>
            </div>
        </div>
        <!-- insert review -->
        <div id="pop-mask-review-create" class="pop-mask">
            <div id="pop-review-create" class="pop">
                <h2>리뷰 작성</h2>
                <ul class="pop-style1">
                    <li class="pop-style1-list">
                        <ul class="pop-style2">
                            <li class="pop-style2-list">
                                <ul class="pop-style3">
                                    <li>
                                        제목 <input type="text" id="insertTitle"/>
                                    </li>
                                    <li>
                                        점수 <input type="number" id="insertScore"/>
                                    </li>
                                    <li>
                                        리뷰 내용 <input type="text" id="insertContent"
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="pop-btn-style">
                    <button type="button" class="pop-btn" onClick="insertReviewProcess()">판매하기</button>
                    <button type="button" class="pop-btn" onClick="closeReviewForm()">닫기</button>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>