<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
    <!--    thymeleaf layout dialect가 contents페이지의 head태그를 layout의 head태그에 자동으로 추가해준다. -->
    <!--    필요 css, script 추가영역 -->
    <script type="text/javascript" th:src="@{/js/user/genre.js}" src="../../../static/js/user/genre.js"></script>
    <script type="text/javascript" th:src="@{/js/user/mypage.js}" src="../../../static/js/user/mypage.js"></script>
    <script type="text/javascript" th:src="@{/js/user/validation.js}"
            src="../../../static/js/user/validation.js"></script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<section layout:fragment="content">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <div class="container-section">
        <div class="join-div2" style="align-content: center">
            <font size="20">개인 정보</font><br>
            <div class="join-text">
                <div><span>아이디</span></div>
            </div>
            <div class="join-text">
                <input type="text" class="update-input" name="id" id="id" readonly="true"/>
            </div>
            <div class="join-text">
                <div><span>비밀번호</span></div>
            </div>
            <div class="join-text">
                <input type="password" class="update-input" name="pw" id="pw"/>
                <span id="passwordLen" class="join-err">Passwords are up to 8 characters long.</span>
            </div>
            <div class="join-text">
                <div><span>비밀번호 확인</span></div>
            </div>
            <div class="join-text">
                <input type="password" class="update-input" name="confirmPw" id="confirmPw"/>

                <span id="notSameError" class="update-err">mismatch to password</span>
            </div>
            <div class="join-text"><span>전화번호</span></div>
            <div class="join-phone">
                <input type="text" class="join-phone-row" name="phone1" id="phone1"/>-
                <input type="text" class="join-phone-row" name="phone2" id="phone2"/>-
                <input type="text" class="join-phone-row" name="phone3" id="phone3"/>
            </div>
            <div class="join-text">
                <span id="phoneFormatError" class="update-err">you input wrong number</span>
            </div>
            <div class="login-margin-field">
                <!-- Using checkbox tag -->
                <div class="join-text"><span>선호 장르</span></div>
                <div class="join-text" style="height: fit-content;">
                    <div id="result"></div>
                </div>
                <div class="join-text">
                    <span id="overChecked" class="join-err">You must choose 3 categories. </span>
                </div>
            </div>
            <div class="join-text">
                <button type="button" onClick="updateInfo()" class="login-margin-field login-btn">수정하기</button>
            </div>
        </div>
    </div>
</section>
</body>
</html>