<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inyoon.bookkureomi.address.AddressMapper">
    <select id="getAddressNo" parameterType="integer" resultType="integer">
        SELECT
            NVL(MAX(addrNo), 0) + 1
        FROM
            Address
    </select>

    <select id = "getAddressList" parameterType="integer" resultType="com.inyoon.bookkureomi.domain.Address">
        SELECT addrNo, userNo, addr, aName, zipcode
        FROM Address
        WHERE userNo = #{userNo}
    </select>

    <select id="getAddress" parameterType="integer" resultType="com.inyoon.bookkureomi.domain.Address">
        SELECT addrNo, userNo, addr, aName, zipcode
        FROM Address
        WHERE addrNo = #{addrNo}
    </select>

    <insert id="insertAddress" parameterType="com.inyoon.bookkureomi.domain.Address">
        INSERT INTO Address (addrNo, userNo, addr, aName, zipcode)
        VALUES (#{addrNo}, #{userNo}, #{address}, #{aName}, #{zipcode})
    </insert>

    <update id="updateAddress" parameterType="integer">
        UPDATE ADDRESS
        SET
            addr = #{address},
            aName = #{aName},
            zipcode = #{zipcode}
        WHERE
            addrNo = #{addrNo}
    </update>

    <delete id="deleteAddress" parameterType="integer">
        DELETE FROM ADDRESS
        WHERE addrNo = #{addrNo}
    </delete>
</mapper>