<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inyoon.bookkureomi.auction.AuctionMapper">
    <select id="getAuctionNo" resultType="integer">
        SELECT AUCTIONSEQ.nextval FROM dual
    </select>
    <select id="getAllAuctionList" resultType="com.inyoon.bookkureomi.domain.Auction">
        SELECT
            auctionNo, userNo, title, publisher, image, info, regiDate, endDate, state, bidprice, price AS immediPrice, genreNo
        FROM Auction
        WHERE endDate > sysdate and state = 'open'
    </select>
    <select id="getAuctionListByUserNo" parameterType="integer" resultType="com.inyoon.bookkureomi.domain.Auction">
        SELECT
            auctionNo, userNo, title, publisher, image, info, regiDate, endDate, state, bidprice, price, genreNo
        FROM Auction
        WHERE
            userNo = #{userNo}
    </select>
    <select id="getAuctionListSchduled" resultType="com.inyoon.bookkureomi.domain.Auction">
        <![CDATA[
        SELECT
            auctionNo, userNo, title, publisher, image, info, regiDate, endDate, state, bidprice, price AS immediPrice, genreNo
        FROM Auction
        WHERE endDate < sysdate and state = 'open']]>
    </select>
    <select id="getAuction" parameterType="integer" resultType="com.inyoon.bookkureomi.domain.Auction">
        SELECT
            auctionNo, userNo as "user.userNo", title, publisher, image, info, regiDate, endDate, state, bidPrice, price as immediPrice, genreNo
        FROM Auction
        WHERE
            auctionNo = #{auctionNo}
    </select>
    <insert id="insertAuction" parameterType="com.inyoon.bookkureomi.domain.Auction">
        INSERT INTO Auction (auctionNo, userNo, title, publisher, image, info, regiDate, endDate, state, bidPrice, price, genreNo)
        VALUES (#{auctionNo}, #{user.userNo}, #{title}, #{publisher}, #{image}, #{info}, #{regiDate}, #{endDate}, #{state}, #{bidPrice}, #{immediPrice}, #{genreNo})
    </insert>
    <update id="updateAuction" parameterType="com.inyoon.bookkureomi.domain.Auction">
        UPDATE Auction
        SET
            info = #{info},
            endDate = #{endDate},
            state = #{state},
            price = #{immediPrice},
            genreNo = #{genreNo},
            bidPrice = #{bidPrice}
        WHERE auctionNo = #{auctionNo}
    </update>
    <delete id="deleteAuction" parameterType="integer">
        DELETE FROM Auction
        WHERE auctionNo = #{auctionNo}
    </delete>
    <select id="findAuction" parameterType="String" resultType="com.inyoon.bookkureomi.domain.Auction">
        SELECT
            auctionNo, userNo, title, publisher, image, info, regiDate, endDate, state, bidprice, price AS immediPrice, genreNo
        FROM Auction
        WHERE
            title LIKE '%' || #{title} || '%'
    </select>

    <select id = "countAuctionList" resultType="integer">
        SELECT
            count(*)
        FROM Auction
        WHERE endDate > sysdate
    </select>

    <select id="countMyAuctionList" parameterType = "integer" resultType="integer">
        SELECT count(*) FROM Auction WHERE userNo = #{userNo}
    </select>

    <select id = "countFindAuctionList" parameterType = "String" resultType="integer">
        SELECT count(*) FROM Auction WHERE title LIKE '%' || #{title} || '%'
    </select>
    <update id = "closeAuction" parameterType="integer">
        UPDATE Auction
        SET state = 'close'
        WHERE auctionNo = #{auctionNo}
    </update>
</mapper>