<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.inyoon.bookkureomi.delivery.DeliveryMapper">
	<!-- 해당 주문의 배송 정보 확인  -->
	<select id="getDelivery" parameterType="integer" resultType="com.inyoon.bookkureomi.domain.Delivery">
        SELECT 
			odNo, company, waybill
		FROM 
			Delivery <!-- Orders 추가 -->
		where
			odNo = #{odNo}
    </select>
    
 	<!-- 배송 정보 추가  -->   
    <insert id="addDelivery" parameterType="com.inyoon.bookkureomi.domain.Delivery">
    	Insert into Delivery (odNo, company, waybill)
    	Values (#{orderDetail.odNo}, #{company}, #{waybill})
    </insert>
    
	<!-- 배송 정보 수정  -->
    <update id="updateDelivery">
    	UPDATE Delivery
    	SET
            company = #{company},
            waybill = #{waybill}
        WHERE 
        	odNo = #{orderDetail.odNo}
    </update>

</mapper>