<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.inyoon.bookkureomi.order.OrderMapper">
	<select id="getOrderNo" resultType="integer">
        SELECT ORDERSEQ.nextval from dual
    </select>
    
    <select id="getODNo" resultType="integer">
        SELECT ORDERDETAILSEQ.nextval from dual
    </select>
    
	<select id="getSaleOrderList" parameterType="integer" resultType="com.inyoon.bookkureomi.domain.Order">
        SELECT distinct
			Orders.orderNo, orderDate, info, total	
		FROM 
			Orders, OrderDetail <!-- Sale, Auction, Users 추가 -->
		where
			userNo = #{userNo}
			AND Orders.orderNo = OrderDetail.orderNo
			AND OrderDetail.saleNo is not null
		ORDER BY
			Orders.orderNo desc
			
		 <!--  paging
		SELECT
			F.*
		FROM
			(
			SELECT
				ROWNUM AS ROW_NUM, R.*
			FROM
				(
					SELECT 
						orderNo, saleNo, auctionNo, userNo, pAddress, orderDate, rAddress, rName, rPhone
					FROM 
						Orders 
					where
						userNo = #{userNo}
					ORDER BY
						orderNo
				) R ) F
		WHERE
			F.ROW_NUM BETWEEN #{start} and #{end}
		 --> 
    </select>
    
    <select id="getAuctionOrderList" parameterType="integer" resultType="com.inyoon.bookkureomi.domain.Order">
        SELECT distinct
			orderNo, orderDate, info, total	
		FROM 
			Orders, OrderDetail <!-- Sale, Auction, Users 추가 -->
		where
			userNo = #{userNo}
			AND Orders.orderNo = OrderDetail.orderNo
			AND OrderDetail.auctionNo is not null
		ORDER BY
			Orders.orderNo desc
	</select>
   
		 
    <select id="getSaleOrder" parameterType="integer" resultType="com.inyoon.bookkureomi.domain.OrderDetail">
        SELECT 
			Orders.orderNo AS "order.orderNo", Orders.pAddress AS "order.pAddress", 
			Orders.orderDate AS "order.orderDate", Orders.rPhone AS "order.rPhone",
			Orders.rAddress AS "order.rAddress", Orders.rName AS "order.rName", 
			Orders.info AS "order.info", Orders.total AS "order.total",
			Sale.saleNo AS "sale.saleNo", Sale.title AS "sale.title", Sale.salePrice AS "sale.salePrice" <!--  ,
			userNo -->
		FROM 
			OrderDetail, Orders, Sale <!-- Sale, Auction, User 추가 -->
		where
			OrderDetail.orderNo = #{orderNo}
			AND OrderDetail.saleNo = Sale.saleNo
			AND OrderDetail.orderNo = Orders.orderNo
		ORDER BY
			Sale.saleNo
    </select>
    
    <select id="getAuctionOrder" parameterType="integer" resultType="com.inyoon.bookkureomi.domain.OrderDetail">
        SELECT 
			Orders.orderNo AS "order.orderNo", Orders.pAddress AS "order.pAddress", 
			Orders.orderDate AS "order.orderDate", Orders.rPhone AS "order.rPhone",
			Orders.rAddress AS "order.rAddress", Orders.rName AS "order.rName", 
			Orders.info AS "order.info", Orders.total AS "order.total",
			Auction.auctionNo AS "auction.auctionNo", Auction.title AS "auction.title", Auction.bidPrice AS "auction.bidPrice" <!--  ,
			userNo -->
		FROM 
			OrderDetail, Orders, Auction <!-- Sale, Auction, User 추가 -->
		where
			OrderDetail.orderNo = #{orderNo}
			AND OrderDetail.auctionNo = Auction.auctionNo
			AND OrderDetail.orderNo = Orders.orderNo
		ORDER BY
			Auction.auctionNo
    </select>
    
    
    <select id="getOrderBySale" parameterType="integer" resultType="com.inyoon.bookkureomi.domain.OrderDetail">
        SELECT 
			Orders.orderNo AS "order.orderNo", Orders.pAddress AS "order.pAddress", 
			Orders.orderDate AS "order.orderDate", Orders.rPhone AS "order.rPhone",
			Orders.rAddress AS "order.rAddress", Orders.rName AS "order.rName", 
			Orders.info AS "order.info", Orders.total AS "order.total",
			Sale.saleNo AS "sale.saleNo", Sale.title AS "sale.title", Sale.salePrice AS "sale.salePrice" <!--  ,
			userNo -->
		FROM 
			OrderDetail, Orders, Sale <!-- Sale, Auction, User 추가 -->
		where
			OrderDetail.saleNo = #{saleNo}
			AND OrderDetail.saleNo = Sale.saleNo
			AND OrderDetail.orderNo = Orders.orderNo
    </select>
    
    
    
    <insert id="orderSale" parameterType="com.inyoon.bookkureomi.domain.Order">
    	Insert into Orders (orderNo, userNo, pAddress, rAddress, rName, rPhone, total, info)
    	Values (#{orderNo}, 1, #{pAddress}, #{rAddress}, #{rName}, #{rPhone}, #{total}, #{info})
    </insert>
    
    <insert id="orderDetailSale" parameterType="com.inyoon.bookkureomi.domain.OrderDetail">
    	Insert into OrderDetail (odNo, orderNo, saleNo)
    	Values (#{odNo}, #{order.orderNo}, #{sale.saleNo})
    </insert>
    
        
    <update id="updateSaleStateClose" parameterType="integer">
        UPDATE Sale
        SET
            state = 'close'
        WHERE 
        	saleNo = #{saleNo}
    </update>
    
    <insert id="orderAuction" parameterType="com.inyoon.bookkureomi.domain.Order">
    	Insert into Orders (orderNo, userNo, pAddress, rAddress, rName, rPhone, total, info)
    	Values (#{orderNo}, #{user.userNo}, #{pAddress}, #{rAddress}, #{rName}, #{rPhone}, #{total}, #{info})
    </insert>
    
    <insert id="orderDetailAuction" parameterType="com.inyoon.bookkureomi.domain.OrderDetail">
    	Insert into OrderDetail (odNo, orderNo, auctionNo)
    	Values (#{odNo}, #{order.orderNo}, #{auction.auctionNo})
    </insert>
</mapper>