<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.inyoon.bookkureomi.point.PointMapper">
	<!-- 새로운 충전번호 가져오기 -->
	<select id="getRechargeNo" parameterType="integer" resultType="integer">
        SELECT 
        	NVL(MAX(rechargeNo), 0) + 1
        FROM 
        	Recharge
        WHERE
        	userNo = #{userNo}
    </select>
    
	<!-- 해당 유저번호의 포인트 이용/충전내역 확인 -->
	<select id="getRechargeList" resultType="com.inyoon.bookkureomi.domain.Recharge">
        SELECT * 
		FROM ( 
		    SELECT ROWNUM AS RNUM, Z.* 
		    FROM ( 
		        SELECT 
					rechargeNo, userNo AS "user.userNo", rcPoint, totalPoint, rcDate, rcMethod, rcType
				FROM 
					Recharge 
				where
					userNo = #{userNo}
					<if test="type == 'recharging' || type == 'using'">
						AND rcType = #{type}
					</if>
				ORDER BY rechargeNo desc
		    ) Z WHERE ROWNUM <![CDATA[ <= ]]> #{end} 
		) WHERE RNUM >= #{start} 
    </select>
    
	<!-- 해당 유저번호의 포인트 확인 -->
    <select id="checkPoint" parameterType="integer" resultType="integer">
        SELECT 
			totalPoint
		FROM 
			Recharge <!-- Sale, Users 추가 -->
		where
			userNo = #{userNo}
			AND rechargeNo = (SELECT NVL(max(rechargeNo), 0) FROM Recharge where userNo = #{userNo})
    </select>

	<!-- 포인트 충전 -->
    <insert id="rechargePoint" parameterType="com.inyoon.bookkureomi.domain.Recharge">
    	Insert into Recharge (rechargeNo, userNo, rcPoint, totalPoint, rcMethod, rcType)
    	Values (#{rechargeNo}, #{user.userNo}, #{rcPoint}, #{totalPoint}, #{rcMethod}, #{rcType})
    </insert>

    
 	<!-- 포인트 사용 -->
    <insert id="usePoint" parameterType="com.inyoon.bookkureomi.domain.Recharge">
    	Insert into Recharge (rechargeNo, userNo, rcPoint, totalPoint, rcType)
    	Values (#{rechargeNo}, #{user.userNo}, #{rcPoint}, #{totalPoint}, #{rcType})
    </insert>
    
    <!-- 나의 충전/이용 카운트  -->
    <select id="countRechargeList" parameterType="integer" resultType="integer">
        SELECT 
			count(*)
		FROM 
			Recharge
		WHERE
			userNo = #{userNo}
			<if test="type == 'recharging' || type == 'using'">
				AND rcType = #{type}
			</if>
    </select>
    
    
	<!-- 카카오 충전 내역 저장  -->
    <insert id="addKakaoOrder" parameterType="com.inyoon.bookkureomi.kakao.KakaoPayApprovalVO">
    	Insert into KAKAOORDER (
    		aId,
    		orderID,
    		userId,
    		tId,
    		itemName,
    		total,
    		paymentMethod,
    		createdAt,
    		approvedAt
    	) Values (
    		#{aid}, 
    		#{partner_order_id}, 
    		#{partner_user_id}, 
    		#{tid}, 
    		#{item_name}, 
    		#{amount.total}, 
    		#{payment_method_type}, 
    		#{created_at}, 
    		#{approved_at}
    	)
    </insert>
    
    
     <!--   <select id="checkHasPoint" parameterType="integer" resultType="integer">
    	SELECT 
    		count(*) 
    	FROM 
    		Recharge 
    	where 
    		userno = #{userNo}
    </select>
    -->  
</mapper>