<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.inyoon.bookkureomi.point.PointMapper">
	<select id="getRechargeNo" parameterType="integer" resultType="integer">
        SELECT 
        	NVL(MAX(rechargeNo), 0) + 1
        FROM 
        	Recharge
        WHERE
        	userNo = #{userNo}
    </select>
    
	<select id="getRechargeList" parameterType="integer" resultType="com.inyoon.bookkureomi.domain.Recharge">
        SELECT 
			rechargeNo, userNo, rcPoint, totalPoint, rcDate, rcMethod
		FROM 
			Recharge <!-- Sale, Users 추가 -->
		where
			userNo = #{userNo}
    </select>
    
    <select id="checkPoint" parameterType="integer" resultType="integer">
        SELECT 
			max(totalPoint)
		FROM 
			Recharge <!-- Sale, Users 추가 -->
		where
			userNo = #{userNo}
    </select>
    
    <insert id="rechargePoint" parameterType="com.inyoon.bookkureomi.domain.Recharge">
    	Insert into Recharge (rechargeNo, userNo, rcPoint, totalPoint, rcMethod)
    	Values (#{rechargeNo}, #{user.userNo}, #{rcPoint}, #{totalPoint}, #{rcMethod})
    </insert>
</mapper>