<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inyoon.bookkureomi.review.ReviewMapper">
    <select id="getReviewList" resultType="com.inyoon.bookkureomi.domain.Review">
        SELECT *
        FROM (
            SELECT ROWNUM AS RNUM, Z.*
            FROM (
                SELECT orderNo, userNo, reviewtext, score
                FROM Review
                where userNo = #{userNo} AND isDelete = 0
                ORDER BY orderNo desc
            ) Z WHERE ROWNUM <![CDATA[ <= ]]> #{end}
        ) WHERE RNUM >= #{start}
    </select>
    <select id="receivedReviewList" parameterType="integer" resultType="com.inyoon.bookkureomi.domain.Review">
        SELECT orderNo, reviewtext, score
        FROM Review
        WHERE orderNo =
              (SELECT orderNo FROM Orders o, Auction a WHERE o.auctionNo = a.auctionNo)
    </select>
    <select id="getReview" resultType="com.inyoon.bookkureomi.domain.Review">
        SELECT orderNo, userNo, reviewText, score, isDelete
        FROM Review
        WHERE orderNo = #{orderNo} AND userNo = #{userNo}
    </select>
    <select id="getReviewCount" resultType="java.lang.Integer">
        SELECT COUNT(DISTINCT Review.orderNo)
        FROM Review
        WHERE userNo = #{userNo} AND isDelete = 0
    </select>
    <insert id="insertReview" parameterType="com.inyoon.bookkureomi.domain.Review">
        INSERT INTO Review (orderNo, userNo, reviewtext, score)
        VALUES (#{orderNo}, #{userNo}, #{content}, #{score})
    </insert>
    <delete id="deleteReview" parameterType="com.inyoon.bookkureomi.domain.Review">
        UPDATE Review
        SET isDelete = '1'
        WHERE orderNo = #{orderNo} AND userNo = #{userNo}
    </delete>
</mapper>