<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.inyoon.bookkureomi.mapper.SaleMapper">
	<select id="getSaleList" resultType="com.inyoon.bookkureomi.domain.Sale">
        SELECT 
			saleNo, publisher, title, costPrice, salePrice, image, info, userNo, regiDate, state, genreNo
		FROM 
			Sale <!-- User 추가 -->
    </select>
    
    <select id="getSale" parameterType="integer" resultType="com.inyoon.bookkureomi.domain.Sale">
        SELECT 
			saleNo, publisher, title, costPrice, salePrice, image, info, userNo, regiDate, state, genreNo
		FROM 
			Sale <!-- User 추가 -->
		where
			saleNo = #{saleNo}
    </select>
    
    <select id="findSaleByName" parameterType="String" resultType="com.inyoon.bookkureomi.domain.Sale">
        SELECT 
			saleNo, publisher, title, costPrice, salePrice, image, info, userNo, regiDate, state, genreNo
		FROM 
			Sale <!-- User, genre 추가 -->
		where
			title = #{title}
    </select>
    
    <select id="findSaleByGenre" parameterType="String" resultType="com.inyoon.bookkureomi.domain.Sale">
        SELECT 
			saleNo, publisher, title, costPrice, salePrice, image, info, userNo, regiDate, state, genreNo
		FROM 
			Sale, Genre <!-- User, genre 추가 -->
		where
			Sale.genreNo = Genre.genreNo 
			AND genre.type = #{type}
    </select>    
    
    <insert id="saleBook" parameterType="com.inyoon.bookkureomi.domain.Sale">
    	Insert into Sale (saleNo, publisher, title, costPrice, salePrice, image, info, userNo, state, genreNo)
    	Values (#{saleNo}, #{publisher}, #{title}, #{costPrice}, #{salePrice}, #{image}, #{info}, #{user.userNo}, #{state}, #{genre.genreNo})
    </insert>
    
    <update id="updateSale"> <!--  parameterType="hashmap" -->
        UPDATE Sale
        SET
            publisher = #{publisher},
            title = #{title},
            costPrice = #{costPrice},
            salePrice = #{salePrice},
            image = #{image},
            info = #{info}
        WHERE 
        	saleNo = #{saleNo}
    </update>
    
     <delete id="deleteSale" parameterType="integer">
        DELETE FROM Sale
        WHERE 
        	saleNo = #{saleNo}
    </delete>
    
    <update id="updateSaleStateClose" parameterType="integer">
        UPDATE Sale
        SET
            state = 'close'
        WHERE 
        	saleNo = #{saleNo}
    </update>
    
    <select id="getMySaleList" parameterType="integer" resultType="com.inyoon.bookkureomi.domain.Sale">
        SELECT 
			saleNo, publisher, title, costPrice, salePrice, image, info, userNo, regiDate, state, genreNo
		FROM 
			Sale <!-- User 추가 -->
		where
			userNo = #{user.userNo}
    </select>
    
    <select id="getMySale" parameterType="integer" resultType="com.inyoon.bookkureomi.domain.Sale">
        SELECT 
			saleNo, publisher, title, costPrice, salePrice, image, info, userNo, regiDate, state, genreNo
		FROM 
			Sale <!-- User 추가 -->
		where
			saleNo = #{saleNo}
    </select>
    
    <select id="recommend" parameterType="integer" resultType="com.inyoon.bookkureomi.domain.Sale">
        SELECT 
			saleNo, publisher, title, costPrice, salePrice, image, info, userNo, regiDate, state, genreNo
		FROM 
			Sale <!-- User 추가 -->
		where
			genreNo = #{genreNo}
    </select>
</mapper>