<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
    <!--    thymeleaf layout dialect가 contents페이지의 head태그를 layout의 head태그에 자동으로 추가해준다. -->
    <!--    필요 css, script 추가영역 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/paging.js}" src="../../static/js/common/paging.js"></script>
    <script type="text/javascript" th:src="@{/js/auction/auction.js}" src="../../static/js/auction/auction.js"></script>
    <script type="text/javascript" th:src="@{/js/auction/bid.js}" src="../../static/js/auction/bid.js"></script>
    <script type="text/javascript" th:src="@{/js/auction/validation.js}"
            src="../../static/js/auction/validation.js"></script>
    <script type="text/javascript" th:src="@{/js/mypage/order.js}" src="../../static/js/mypage/order.js"></script>


    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body>
<section layout:fragment="content">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <div class="container-section">
        <div class="div-list-head">
            <ul class="find-style">
                <li>
                    <input class="find-input" type="text" id="findTitle">
                </li>
                <li class="find-btn-style">
                    <button type="button" class="find-btn" onClick="findAuction(1)">검색</button>
                </li>
            </ul>
            <div class="insert-style">
                <button type="button" class="insert-btn" onClick="createAuctionForm()">판매하기</button>
            </div>
        </div>
        <div>총 <span id="auctionCnt"></span>건</div>
        <div class="div-list-result" id="result"></div>
        <div class="paging" id="paging"></div>

        <div id="pop-mask-sale-create" class="pop-mask">
            <div id="pop-sale-create" class="pop">
                <h2>중고 서적 판매하기</h2>
                <ul class="pop-style1">
                    <li class="pop-style1-list">
                        <ul class="pop-style2">
                            <li class="pop-style2-list">
                                <input type="file" id="insertImage"/>
                            </li>
                            <li class="pop-style2-list">
                                <ul class="pop-style3">
                                    <li>
                                        제목 <input type="text" id="insertTitle"/>
                                    </li>
                                    <li>
                                        출판사 <input type="text" id="insertPublisher"/>
                                    </li>
                                    <li>
                                        마감기한 <input type="text" id="insertEndDate"/>
                                    </li>
                                    <li>
                                        입찰가 <input type="number" id="insertBidPrice"/>
                                    </li>
                                    <li>
                                        즉시구매가 <input type="number" id="insertImmediPrice"/>
                                    </li>
                                    <li>
                                        장르 <input type="text" id="insertGenreType"/>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="pop-style1-list">
                        정보<br>
                        <textarea id="insertInfo"></textarea>
                    </li>
                </ul>
                <div class="pop-btn-style">
                    <button type="button" class="pop-btn" onClick="createAuction()">판매하기</button>
                    <button type="button" class="pop-btn" onClick="closeAuctionCreatePopup()">닫기</button>
                </div>
            </div>
        </div>
        <!-- detail -->
        <div id="pop-mask-sale-detail" class="pop-mask">
            <div id="pop-sale-detail" class="pop">
                <h2>중고 서적 뷰</h2>
                <input type="hidden" id="viewAuctionNo"/>
                <ul class="pop-style1">
                    <li class="pop-style1-list">
                        <ul class="pop-style2">
                            <li class="pop-style2-list">
                                <img src="" id="viewImage" class="pop-img"/>
                            </li>
                            <li class="pop-style2-list">
                                <ul class="pop-style3">
                                    <li>
                                        제목 <input type="text" id="viewTitle"/>
                                    </li>
                                    <li>
                                        출판사 <input type="text" id="viewPublisher"/>
                                    </li>
                                    <li>
                                        마감기한 <input type="text" id="viewEndDate"/>
                                    </li>
                                    <li>
                                        입찰가 <input type="number" id="viewBidPrice"/>
                                    </li>
                                    <li>
                                        즉시구매가 <input type="number" id="viewImmediPrice"/>
                                    </li>
                                    <li>
                                        장르 <input type="text" id="viewGenreType"/>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="pop-style1-list">
                        정보<br>
                        <textarea id="viewInfo"></textarea>
                    </li>
                    <li class="pop-style1-list" id="deliveryInfo">
                    </li>
                </ul>
                <div class="pop-btn-style" id="buttonResult"></div>
            </div>
            <!-- bid -->
            <div id="pop-mask-order-create" class="pop-mask">
                <div id="pop-order-create" class="pop">
                    <h2>중고 서적 입찰하기</h2>
                    <ul class="pop-style1">
                        <li class="pop-style1-list">
                            <ul class="pop-style2">
                                <li class="pop-style2-list">
                                    <ul class="pop-style3">
                                        <li>
                                            제목 <input type="text" id="orderTitle" readonly/>
                                        </li>
                                        <li>
                                            가격 <input type="number" id="orderBidPrice" readonly/>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="pop-style1-list">
                            <ul class="pop-style2">
                                <li class="pop-style2-list">
                                    <ul class="pop-style3">
                                        <li>
                                            주문자 주소 <input type="text" id="orderPAddress"/>
                                        </li>
                                        <li>
                                            받는이 <input type="text" id="orderRName"/>
                                        </li>
                                        <li>
                                            받는이 전화번호 <input type="text" id="orderRPhone"/>
                                        </li>
                                        <li>
                                            배송지 주소 <input type="text" id="orderRAddress"/>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="pop-btn-style">
                        <button type="button" class="pop-btn" onClick="bidAuction()">입찰하기</button>
                        <button type="button" class="pop-btn" onClick="closeOrderPopup()">닫기</button>
                    </div>
                </div>
            </div>
            <!-- 즉시구매 -->
            <div id="pop-mask-immediate-create" class="pop-mask">
                <div id="pop-immediate-create" class="pop">
                    <h2>경매 서적 구매하기</h2>
                    <ul class="pop-style1">
                        <li class="pop-style1-list">
                            <ul class="pop-style2">
                                <li class="pop-style2-list">
                                    <ul class="pop-style3">
                                        <li>
                                            제목 <input type="text" id="immediateTitle" readonly/>
                                        </li>
                                        <li>
                                            가격 <input type="number" id="immediatePrice" readonly/>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="pop-style1-list">
                            <ul class="pop-style2">
                                <li class="pop-style2-list">
                                    <ul class="pop-style3">
                                        <li>
                                            주문자 주소 <input type="text" id="immediatePAddress"/>
                                        </li>
                                        <li>
                                            받는이 <input type="text" id="immediateRName"/>
                                        </li>
                                        <li>
                                            받는이 전화번호 <input type="text" id="immediateRPhone"/>
                                        </li>
                                        <li>
                                            배송지 주소 <input type="text" id="immediateAddress"/>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="pop-btn-style">
                        <button type="button" class="pop-btn" onClick="orderAuction()">구매하기</button>
                        <button type="button" class="pop-btn" onClick="closeImmediatePopup()">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>