<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layouts/default}">
	
<head>
	<!--    thymeleaf layout dialect가 contents페이지의 head태그를 layout의 head태그에 자동으로 추가해준다. -->
	<!--    필요 css, script 추가영역 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/dist/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/point/point.js}" src="../../static/js/point/point.js"></script>
	<meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body>
	<section layout:fragment="content">		
		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
    	<div class="container-section">
    		<div class="div-list-head">
    			<ul class="find-style">
	    			<h3>현재 포인트는 <strong><span id="myPoint" class="text-highlight"> 포인트</span></strong> 입니다.</h3>
	    		</ul>
	    		<div class="insert-style">
	    			<button type="button" class="insert-btn" onClick="createRechargeForm()">충전하기</button>
	    		</div>
    		</div>
    		
    		<div class ="div-list-result" id="result"></div>
	
			<div id="pop-recharge-create" class="pop">
				<h2>포인트 충전하기</h2>
				<ul class="pop-style1">
					<li class="pop-style1-list">충전방법&nbsp;&nbsp;
						<select class="" id="rechargeMethod" name="rechargeMethod">
	    					<option value="kakao">카카오페이</option>
	    					<option value="card">신용카드</option>
	    					<option value="deposit">무통장입금</option>
	    				</select>
					</li>
					<li class="pop-style1-list">충전금액&nbsp;&nbsp;
						<select class="" id="rechargePrice" name="rechargePrice">
	    					<option value="1000">1000</option>
	    					<option value="3000">3000</option>
	    					<option value="5000">5000</option>
	    					<option value="10000">10000</option>
	    					<option value="30000">30000</option>
	    					<option value="50000">50000</option>
	    					<option value="100000">100000</option>
	    				</select>
					</li>
				</ul>
				<div class="pop-btn-style">
	    			<button type="button" class="pop-btn" onClick="createRecharge()">충전하기</button>
	    			<button type="button" class="pop-btn" onClick="closeRechargeCreatePopup()">닫기</button>
	    		</div>
			</div>
    	</div>
  	</section>
</body>
</html>