<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
    <title>Sign Up</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/user/genre.js}" src="../../../static/js/user/genre.js"></script>
    <script type="text/javascript" th:src="@{/js/user/join.js}" src="../../../static/js/user/join.js"></script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<section layout:fragment="content">
	<div class="login-div">
		<div class="join-div2">
    		<h2 class="join-header">Join US</h2>
    		<div class="login-margin-field">
				<div class="join-id">
					<div class="join-id-row1"><span>아이디</span></div>
					<div class="join-id-row2">
						<button type="button" class="btn-dark" onClick="overlapId()" >중복확인</button>
					</div>
				</div>
				
	            <input type="hidden" id="isOverlapCheck" value="notChecked" />
				<input type="text" class="join-input" name="id" id="id"/>
				<div class="join-text">
	            	<span id="overlapCheck" class="join-err">This ID is already Using</span>
				</div>
			</div>
			<div class="login-margin-field">
				<div class="join-text"><span>비밀번호</span></div>
			    <input type="password" class="join-input" name="pw" id="pw"/>
				<div class="join-text">
	            	<span id="passwordLen" class="join-err">Passwords are up to 8 characters long.</span>
				</div>
			</div>
			<div class="login-margin-field">
				<div class="join-text"><span>비밀번호 확인</span></div>
				<input type="password" class="join-input" name="confirmPw" id="confirmPw"/> 
				<div class="join-text">
	            	<span id = "notSameError" class="join-err">mismatch to password</span>
				</div>
			</div>
			<div class="login-margin-field">
				<div class="join-text"><span>이름</span> </div> 
				<input type="text" class="join-input" name="name" id="name"/> 
				<div class="join-text">
	            	<span id = "checkNameNull" class="join-err">Please input your name</span>
				</div>
			</div>
			<div class="login-margin-field">
				<div class="join-text"><span>전화번호</span> </div> 
				<div class="join-phone">
					<input type="text" class="join-phone-row" name="phone1" id="phone1"/>-
					<input type="text" class="join-phone-row" name="phone2" id="phone2"/>-
					<input type="text" class="join-phone-row" name="phone3" id="phone3"/>
				</div> 
	            <div class="join-text">
	            	<span id = "phoneFormatError" class="join-err">you input wrong number</span>
				</div>
	        </div>
	        <div class="login-margin-field">    
	            <!-- Using checkbox tag -->
	            <div class="join-text"><span>선호 장르</span> </div> 
				<div id="result"></div>
	            <div class="join-text">
	            	<span id = "overChecked" class="join-err">You must choose 3 categories. </span>
				</div>
			</div>
			<div>
	            <button type="button" onClick="checkForm()" class="login-margin-field login-btn" >가입하기</button>
    		</div>
    	</div>
    </div>
</section>
</body>
</html>