<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
    <title>Login Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/user/user.js}" src="../../../static/js/user/user.js"></script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body>
<section layout:fragment="content">
    <div>
		id <input type="text" name="username" id="id"/> <br>
	    password <input type="password" name="password" id="password"/> <br>
	    <div id="errMsg" style="color:red;"></div>
	    <button type="button" onClick="login()">login</button>
    </div>
</section>
</body>
</html>