<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"> 
	
	<footer th:fragment="footerFragment" id="footer">
		<div class="container-footer">
			<a href="#header" class="footer-top"><span>TOP</span></a>
           	<div class="footer-content text-size-17">Copyright © InyOon</div>
            <div class="footer-content">
                <a class="btn-social" href="https://github.com/im57/bookkureomi">
                   	<img src="/images/github.png" class="img-git">
                </a>
            </div>
            <div class="footer-content text-size-17">
               <a href="#header">북 꾸러미</a>
            </div>
    	</div>	
	</footer>
	
</html>
	

