<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
  <!--	xmlns:sec="http://www.thymeleaf.org/extras/spring-security4">-->


	<header th:fragment="headerFragment" id="header">
    	<div class="container-header">
        	<a class="header-logo js-scroll-trigger" href="/#header">
	        	<img src="/images/book_logo1.png" class="img-logo" />
	        </a>
	        <div class="header-menu">
				<div th:unless="${#authorization.expr('isAuthenticated()')}">
					<ul class="header-logon-menu-list mr-auto">
						<li class="header-logon-menu-item-button"><a class="js-scroll-trigger" href="/book/user/login">로그인</a></li>
						<li class="header-logon-menu-item-button"><a class="js-scroll-trigger" href="/book/user/join">회원가입</a></li>
					</ul>
				</div>
				<div th:if="${#authorization.expr('isAuthenticated()')}">
					<ul class="header-logon-menu-list mr-auto">
						<li class="header-logon-menu-item"><a class="js-scroll-trigger" href="/book/mypage/page" th:text="${#authentication.name}"></a>&nbsp;님 </li>
						<li class="header-logon-menu-item"><a class="js-scroll-trigger" href="/book/point/view" th:text="${#authentication.point}"></a>포인트</li>
						<li class="header-logon-menu-item"><a class="js-scroll-trigger" href="/book/cart/view">카트</a></li>
						<li class="header-logon-menu-item-button"><a class="js-scroll-trigger" onclick="document.getElementById('logout').submit();" > 로그아웃</a>
						<!--  <li class="header-logon-menu-item-button"><a class="js-scroll-trigger" onclick="logout()" >로그아웃</a>-->
							<form id="logout" action="/book/user/logout" method = "POST"><input th:name="${_csrf.parameterName}" type="hidden" th:value="${_csrf.token}"/></form>
						</li>
					</ul>
				</div>
	        </div>
		</div>
	</header>

</html>
