<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layouts/default}">
	
<head>
	<!--    thymeleaf layout dialect가 contents페이지의 head태그를 layout의 head태그에 자동으로 추가해준다. -->
	<!--    필요 css, script 추가영역 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/dist/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/sale/sale.js}" src="../../static/js/sale/sale.js"></script>
</head>

<body>
	<div layout:fragment="content">
    	<div>
    		<ul>
    			<li>
    				<select id="findType" name="findType">
    					<option value="title">제목</option>
    					<option value="genre">장르</option>
    				</select>
    				<input type="text" id="findText">
    			</li>
    		</ul>
    		<button type="button" onClick="findSaleBook()">검색</button>
    		
    	</div>
	    <div id="result"></div>
  	</div>
</body>
</html>