<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layouts/default}">
	
<head>
	<!--    thymeleaf layout dialect가 contents페이지의 head태그를 layout의 head태그에 자동으로 추가해준다. -->
	<!--    필요 css, script 추가영역 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/dist/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/sale/sale.js}" src="../../static/js/sale/sale.js"></script>
</head>

<body>
	<section layout:fragment="content">
    	<div class="container-section">
    		<div>
    			<ul class="find-style" style="list-style:none;height: 30px;display: flex;flex-direction: row;">
	    			<li>
	    				<select class="find-select" id="findType" name="findType">
	    					<option value="title">제목</option>
	    					<option value="genre">장르</option>
	    				</select>
	    				<input class="find-input" type="text" id="findText">
	    			</li>
	    			<li class="find-btn-style">
	    				<button type="button" class="find-btn" onClick="findSaleBook()">검색</button>
	    			</li>
	    		</ul>
    		</div>
 <!--     		<div>
    			<table class="table-list" style="width: 100%;">
    				<colgroup>
						<col width="33.333333%" />
						<col width="33.333333%" />
						<col width="33.333333%" />
					</colgroup>
					<tbody>
						<tr>
							<td>
								<ul class="list-style" 
style="
background-color: #ffffe3;
  	border-color: #ffffe3;
	border-radius: 1rem; 
	list-style:none; height: 250px;padding-inline-start: 0px; margin: 10px 10px 10px 10px;">
				    				<li class="table-list-image">
				    					<img src="/images/sale/1.jpg" class="img-fit"/>
				    				</li>
				    				<li class="table-list-content">
				    					<ul class="table-list-content-style">
				    						<li class="table-list-content-list-style">title</li>
				    						<li class="table-list-content-list-style">author / publisher</li>
				    						<li class="table-list-content-list-style">costPrice -> salePrice</li>
				    						<li class="table-list-content-list-style">state</li>
				    					</ul>
				    				</li>
				    			</ul>
							</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>
								<ul class="list-style-none">
				    				<li style="float:left;">
				    					a
				    				</li>
				    				<li style="float:left;">
				    					<ul>
				    						<li>1</li>
				    						<li>1</li>
				    						<li>1</li>
				    						<li>1</li>
				    						<li>1</li>
				    						<li>1</li>
				    					</ul>
				    				</li>
				    			</ul>
							</td>
						</tr>
					</tbody>   			
    			</table>
    		</div>-->
    		<div class ="div-list-result" id="result"></div>
    	</div>
  	</section>
</body>
</html>