<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layouts/default}">
	
<head>
	<!--    thymeleaf layout dialect가 contents페이지의 head태그를 layout의 head태그에 자동으로 추가해준다. -->
	<!--    필요 css, script 추가영역 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/dist/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/sale/sale.js}" src="../../static/js/sale/sale.js"></script>
</head>

<body>
	<section layout:fragment="content">
    	<div class="container-section">
    		<div class="div-list-head" style="width:1130px;height: 30px;">
    			<ul class="find-style" style="float:left;padding-inline-start: 0px;list-style:none;height: 30px;display: flex;flex-direction: row;">
	    			<li>
	    				<select class="find-select" id="findType" name="findType">
	    					<option value="title">제목</option>
	    					<option value="genre">장르</option>
	    				</select>
	    				<input class="find-input" type="text" id="findText">
	    			</li>
	    			<li class="find-btn-style">
	    				<button type="button" class="find-btn" onClick="findSaleBook()">검색</button>
	    			</li>
	    		</ul>
    			<div class="insert-style" style="float:right;height: 30px;">
	    			<button type="button" class="insert-btn" onClick="saleBookForm()">판매하기</button>
	    		</div>
    		</div>
 <!--     		<div>
    			<table class="table-list" style="width: 100%;">
    				<colgroup>
						<col width="33.333333%" />
						<col width="33.333333%" />
						<col width="33.333333%" />
					</colgroup>
					<tbody>
						<tr>
							<td>
								<ul class="list-style" 
style="
background-color: #ffffe3;
  	border-color: #ffffe3;
	border-radius: 1rem; 
	list-style:none; height: 250px;padding-inline-start: 0px; margin: 10px 10px 10px 10px;">
				    				<li class="table-list-image">
				    					<img src="/images/sale/1.jpg" class="img-fit"/>
				    				</li>
				    				<li class="table-list-content">
				    					<ul class="table-list-content-style">
				    						<li class="table-list-content-list-style">title</li>
				    						<li class="table-list-content-list-style">author / publisher</li>
				    						<li class="table-list-content-list-style">costPrice -> salePrice</li>
				    						<li class="table-list-content-list-style">state</li>
				    					</ul>
				    				</li>
				    			</ul>
							</td>
							<td></td>
							<td></td>
						</tr>
						<tr></tr>
					</tbody>   			
    			</table>
    		</div>-->
    		<div class ="div-list-result" id="result"></div>
    	
    		<div id="pop-sale-insert" class="pop" style="display:none;position:relative;width:700px;height: 700px;background:#fafbfc;margin:0px auto;padding:67px 70px 76.5px;">
				<h2>중고 서적 판매하기</h2>
				<ul class="pop-style1">
					<li>
						<ul class="pop-style2">
							<li>
								<input type="file"id="insertImage" />
							</li>
							<li>
								<ul class="pop-style3">
									<li>
										제목 <input type="text" id="insertTitle" />
									</li>
									<li>
										출판사 <input type="text" id="insertPublisher" />
									</li>
									<li>
										저자 <input type="text" id="insertAuthor" />
									</li>
									<li>
										원가 <input type="text" id="insertCostPrice" />
									</li>
									<li>
										판매가 <input type="text" id="insertSalePrice" />
									</li>
									<li>
										장르 <input type="text" id="insertGenreType" />
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						정보<br>
						<textarea id="insertInfo"></textarea>
					</li>
				</ul>
				<div class="pop-btn-style" style="float:left;height: 30px;">
	    			<button type="button" class="pop-btn" onClick="sale()">판매하기</button>
	    			<button type="button" class="pop-btn" onClick="closeView()">닫기</button>
	    		</div>
			</div>
			
			<div id="pop-sale-view" class="pop" style="display:none;position:relative;width:700px;height: 700px;background:#fafbfc;margin:-500px auto;padding:67px 70px 76.5px;">
				<h2>중고 서적 뷰</h2>
				<input type="hidden" id="viewSaleNo" />
				<ul class="pop-style1">
					<li class="pop-style1-list">
						<ul class="pop-style2">
							<li class="pop-style2-list">
								<img src="" id="viewImage" class="pop-img"/>
							</li>
							<li class="pop-style2-list">
								<ul class="pop-style3">
									<li>
										판매자 <input type="text" id="viewUser" readonly />
									</li>
									<li>
										제목 <input type="text" id="viewTitle" readonly />
									</li>
									<li>
										출판사 <input type="text" id="viewPublisher" readonly />
									</li>
									<li>
										저자 <input type="text" id="viewAuthor" readonly />
									</li>
									<li>
										원가 <input type="text" id="viewCostPrice" readonly />
									</li>
									<li>
										판매가 <input type="text" id="viewSalePrice" />
									</li>
									<li>
										등록일 <input type="text" id="viewRegiDate" readonly />
									</li>
									<li>
										장르 <input type="text" id="viewGenre" readonly />
									</li>
									<li>
										상태 <input type="text" id="viewState" readonly />
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="pop-style1-list">
						정보<br>
						<textarea id="viewInfo"></textarea>
					</li>
				</ul>
				<div class="pop-btn-style">
	    			<button type="button" class="pop-btn" onClick="buyBook()">구매하기</button>
	    			<button type="button" class="pop-btn" onClick="updateBook()">수정하기</button>
	    			<button type="button" class="pop-btn" onClick="closeView()">닫기</button>
	    		</div>
			</div>
    	</div>
  	</section>
</body>
</html>