<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layouts/default}">
	
<head>
	<!--    thymeleaf layout dialect가 contents페이지의 head태그를 layout의 head태그에 자동으로 추가해준다. -->
	<!--    필요 css, script 추가영역 -->
</head>

<body>
	<section layout:fragment="content">
		<div class="align-items-center index-background index-padding">
    		<div class="index-text1">Welcome To 북 꾸러미</div>
	       	<div class="index-text2">It's Nice To Meet You</div>
	    	<div class="index-button-recommend">
	    		<a class="btn btn-recommend " href="#recommend">책 추천 받으러 가기</a>
    		</div>
    	</div>
	    <div class="page-section" id="recommend">
	    	recommend
	    </div>
  	</section>
</body>
</html>